body {
    font-family: 'Georgia', 'Times', serif;
    font-size: 2vh;
    background-color: rgb(39, 117, 84);
    min-width: 1000px;
}

header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav-bar li {
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    font-size: auto;
    display: block;
    color: white;
    text-align: center;
    padding: 2.5vh;
    text-decoration: none;
    border-radius: 9px 9px 0px 0px;
}

li a:hover {
    background-color: #111;
}

.actief {
    border-radius: 9px 9px 0px 0px;
    background-color: rgb(39, 117, 84)
}

.box-home {
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 10vh 10vh 0vh 10vh;
    padding: 4vh;
    background-color: #333;
    height: 65vh;
    display: inline-block;
    border-radius: 0px 30px 0px 30px;
    border-bottom: 1vh solid #499273;
    border-right: 1vh solid #499273;
}

.titel,
.ondertekst {
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    word-spacing: 4;
    color: white;
}

.titel {
    font-size: 9vh;
}

.ondertekst {
    font-size: 6vh;
}

.knop {
    text-decoration: none;
    width: 78.9vh;
    background-color: rgb(39, 117, 84);
    float: left;
    text-align: center;
    margin: 6vh 2.7vh 0vh 3vh;
    display: block;
    border-radius: 0px 30px 0px 30px;
    border-bottom: 1vh solid #499273;
    border-right: 1vh solid #499273;
}

.homeht {
    font-family: 'Quicksand', sans-serif;
    font-size: 5.5vh;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    height: auto;
    padding: 2vh 0vh 1vh 0vh;
}

.homevt {
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    width: auto;
    height: auto;
    padding: 2vh 1vh 2vh 1vh;
}

.knop:hover {
    background-color: #499273;
}

img.profielfoto {
    display: inline-block;
    margin: 5vh;
    border-radius: 50%;
    width: 40vh;
    height: auto;
    border: 1vh solid #499273;
}

.box-intro {
    color: lightcyan;
    background-color: #333;
    font-family: 'Bree Serif', serif;
    text-transform: capitalize;
    display: block;
    margin: 5%;
    height: 71.8vh;
    border-radius: 0px 30px 0px 30px;
    border-bottom: 1vh solid #499273;
    border-right: 1vh solid #499273;
}

.kopkoptext {
    text-transform: none;
    font-size: 10vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 5vh 0vh 0vh 0vh;
}

.koptext {
    line-height: 8vh;
    font-weight: 500;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-align: left;
    position: absolute;
    margin: auto auto;
    top: 37vh;
    left: 64.8vh;
    font-size: 4.5vh;
    line-height: 5vh;
}

.norm-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    padding: 4%;
    text-align: left;
    font-size: 4.5vh;
    line-height: 140%;
}

.motivatielist {
    padding: 0.5% 0.5% 0.5% 2%;
    list-style-type: circle;
}

.bronnenlijstkop {
    font-weight: 500;
}

.bronnenlijst {
    text-transform: none;
}

.mijncode {
    position: absolute;
    width: 40%;
    top: 35%;
    left: 50%;
    border-radius: 0px 30px 0px 30px;
    border: 1vh solid #499273;
}


/* Raadje Plaatje */

.kopkoptextrp {
    text-transform: none;
    font-size: 8vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 2vh 0vh 0vh 0vh;
}

.content {
    margin-left: 1vh;
}

.wrapper {
    margin: 2% auto;
    width: 400px;
}

.raadje-plaatje {
    background-color: #499273;
    border: 3px solid #333;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
}

.img-grid {
    margin-top: 20px;
    background-color: #499273;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid #333;
}

.img--small {
    border: 3px solid #333;
    margin: 3px;
}

.picture {
    border: #499273 20px solid;
    border-radius: 20px;
    background-color: #499273;
    width: 150px;
    height: 150px;
}

.message {
    font-family: 'Quicksand', sans-serif;
    width: 170px;
    padding: 20px;
    font-size: 1.4em;
    color: white;
}